{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ 'products.catalogue.welcome'|trans }}</h1>
    <h2>{{ 'products.catalogue.subtitle'|trans({'products': products|length}) }}</h2>

    <ul>
    {% for product in products %}
        <li>Product name: {{ product.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}