{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome to the products catalogue</h1>
    <h2>There is one product</h2>

    <ul>
    {% for product in products %}
        <li>Product name: {{ product.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}